<web-tag1>
    <section>
        <img src="https://cinepolisdev02.kambaal.com/imgs/alimentos.png" alt="Alimentos" class="rounded mx-auto d-block">
    </section>
</web-tag1>
<h2>{{ pimcore_input("myHeadline1") }}</h2>


