<web-tag2>
    <section>
        <img src="https://cinepolisdev02.kambaal.com/imgs/preventa.png" alt="Preventa" class="rounded mx-auto d-block">
    </section>
</web-tag2>
<h2>{{ pimcore_input("myHeadline2") }}</h2>